.filter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 20px;
    background-color: #fff;
    border-radius: 20px;
}
.searchbtn{
    background-color:     #9063CD;
    color: white;
    padding: 10px 19px;
    border-radius: 8px;
    border: 1px solid;
}
.searchbtn:hover{
  background-color: white;
  color:#9063CD ;
  border:1px solid #9063CD;
}
.vl {
    border-left: 1px solid black;
    height: 50px;
  }

  .boxes{
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  #Drop{
    background-color: inherit !important;
    color: black!important;
    border: 0;

}

.opa{
    opacity: 0.55;
}

.reset{
  background-color:#9063CD;
  padding: 10px;
  border-radius: 10px;
  color:white;
  border: 0;
  margin-left: 13px;
}
.toggle{
  display: none;
}

.date{
  border: 0;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .filter{
    display: none;
    text-align: center;
    padding: 30px 50px;
  }
 
  .vl{
    height: 0;
    width: 100%;
    border: 1px solid grey;
    opacity: 0.2; 
    margin: 10px;
  }
  .toggle{
    display: block;
    cursor: pointer;
    width: 40%;
    padding-block: 10px;
  }
 
}
